.RadioBtns {
  position: relative;
  z-index: 19;
  & input[type="radio"] {
    display: none;
  }

  & label {
    position: relative;
    padding: 5px 20px;
    color: inherit;
    background-color: inherit;
    border: 2px solid #666;
    background-clip: padding-box;
    border-radius: 20px;
    cursor: pointer;
    z-index: 20;
  }

  & [type="radio"]:checked + label {
    border: none;
    border-radius: 20px;
    padding: 7px 22px;
    background: linear-gradient(to right, rgb(83, 134, 65), rgb(53, 120, 208));
  }
}
